

@font-face {
    font-family: Manrope;
    src: url(../fonts/ManropeVariableFont.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(../fonts/OswaldVariableFont.ttf);
}

* {
    box-sizing: border-box;
}

body {
    /* background: rgb(70, 68, 68); */
    font-family: Manrope;
    color: #FFFFFF;
    background: #121212;
}

.glowing-circle-min {
    position: absolute;
    width: 208px;
    height: 208px;
    left: -98px;
    top: 0px;
    background: linear-gradient(90deg, #EAB359 0%, #F0E591 20.21%, #EAB454 100%);
    filter: blur(100px);
    z-index: -1;
}

.main {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.header {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 66px;
}

.link {
    text-decoration: none;
    color: #D2D3D8;

}

.header__left_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    /* width: 20%; */
}

.header__left-sitename {
    font-family: Oswald;
    font-size: 46px;
    font-weight: bold;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right-menu-list {
    display: flex;
    gap: 32px;
    align-items: center;
}

.header__right-menu-item {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.selected-item {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
}

.header__right-menu-item_buy {
    width: 185px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFFFFF;
    border-radius: 200px;
}

.header__right-menu-item_wallet-list::before {
    content: url(../icons/Wallet.svg);
}

.main-title__right {
    display: flex;
    writing-mode: vertical-lr;
    align-items: center;
    gap: 35px;
}

.main-title__checkbox-wrapper {
    transform: rotate(90deg);
}

/* switch start */
input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 30px;
    height: 17px;
    background: rgba(255, 255, 255, 0.24);
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 13px;
    height: 13px;
    background: #EAB359;
    border-radius: 13px;
    transition: 0.3s;
}

input:checked + label {
    background: #FFFFFF;
}

input:checked + label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
}

label:active:after {
    width: 20px;
}

/* switch finish */

/* <!-- main page title start --> */

.main-title {
    display: flex;
    justify-content: space-between;
}

.main-title__first-row {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
    letter-spacing: 0.56em;
}


.main-title-second-left-text {
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 144px;
    line-height: 120%;
    /* identical to box height, or 173px */

    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 8px;
}

.accent {
    background: linear-gradient(180deg, #FFF496 17.34%, #EAB359 91.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
}

.strip {
    Width: 92px;
    Height: 11px;
    background: #FFFFFF;
}

.main-images {
    margin-bottom: 226px;
}

.button-buy-now {
    display: block;
    width: 170px;
    height: 170px;
    position: absolute;
    background: #6C6E26;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    position: absolute;
    left: 635px;
    top: 755px;
}

.button-buy-now a {
    height: 100%;
    text-decoration: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.strip_second {
    margin: 0 auto;
    margin-bottom: 40px;
}